# Node modules
diabetes-lifestyle-frontend/node_modules/
diabetes-lifestyle-backend/node_modules/

# Build output
diabetes-lifestyle-frontend/dist/
diabetes-lifestyle-backend/dist/

# Environment files
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code
.vscode/
